body {
    padding-top: 50px;
}
header {
    margin-bottom: 15px;
}
header .navbar-brand {
    padding: 10px 25px;
}
footer {
    display: block;
    margin: 20px 0;
    color: #666;
}
footer small {
    font-size: 10px;
}